h1 {
    margin: auto;
    text-align: center;
}

.feedbody {
    width: 100%;
    align-content: center;
    background-color: lightgrey;
    padding-top: 1%;
    padding-bottom: 1%;
}

.post {
    width: 50%;
    background-color: white;
    margin: 5% auto 5% auto;
}

.post div {
    padding: 5px;
}

.top {
    display:flex;
}

.title {
    width: 80%;
    font-weight: bold;
    text-align: left;
    justify-content: flex-start;
}

.date {
    color: grey;
    justify-content: flex-end;
}

img {
    display: block;
    width: 100%;

  }

.posttext {

}